

   
<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="../../../assets/img/hero.jpg">
    <div class="col-6">
        <form class="d-flex tm-search-form">
            <label style="margin-left: 10%;" class="form-control tm-search-input" for="upload-photo">Upload Imagen...</label>
            <input #imageInput accept="image/" (change)="processFile(imageInput)" class="btn btn-outline-success tm-search-btn"  id="upload-photo" type="file" placeholder="Search" aria-label="Search">
        </form>
    </div>
    <div class="col-6">
        <form class="d-flex tm-search-form" #form>
            <input name="dataFilter" [(ngModel)]="dataFilter" class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button (click)="filter()" class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</div>


<div class="container">
    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary">
                Ultimos Productos
            </h2>
        </div>

        <div *ngIf="!conditional" class="row tm-mb-90 tm-gallery">
            NO TIENE IMAGENES DISPONIBLES
        </div>
        <div *ngIf="conditional" class="row tm-mb-90 tm-gallery" >
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" *ngFor="let photo of photos">
                <!-- <figure class="effect-ming tm-video-item">
                    <img src="{{photo.src}}" alt="Image" class="img-fluid" >            
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">{{photo.id}}</span>
                    <span>{{photo.views}} views</span>
                </div>
                
                <div class="d-flex justify-content-between tm-text-gray" style="margin-top: 25px;">
                    <form #form2>
                        <label for="upload-photo2" class="btn btn-outline-success">
                            EDITAR
                        </label>
                        <input #imageUpdate accept="image/" name="imagen2" (change)="updatePhoto(photo.id, imageUpdate)" class="btn btn-outline-success tm-search-btn"  id="upload-photo2" type="file">
                    </form>
    
                    <button class="btn btn-outline-danger" (click)="deletePhoto(photo.id)">ELIMINAR</button>
                </div> -->
            
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>{{photo.nombre}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{photo.src}}" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        Date: {{photo.date}}
                      </p>
                      <p>
                          Views: {{photo.views}}
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button color="primary" mat-button>EDITAR</button>
                      <button color="warn" mat-button (click)="deletePhoto(photo.id)">ELIMINAR</button>
                    </mat-card-actions>
                  </mat-card>
                  
            
            </div>
            
        </div> <!-- row -->
    </div>
</div>