label {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
 }
 
 #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

 #upload-photo2 {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

.example-card {
   max-width: 400px;
 }
 
 .example-header-image {
   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
   background-size: cover;
 }

 .center-photo {   
   justify-content: center;
   align-items: center;
   margin: 20px 0px 10px 0px;
 }