
<app-spiner-simple *ngIf="loading"></app-spiner-simple>
   
<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="../../../assets/img/hero.jpg">
    <div class="col-6">
        <form class="d-flex tm-search-form">
            <label style="margin-left: 10%;" class="form-control tm-search-input" for="upload-photo">Upload Imagen...</label>
            <input #imageInput accept="image/" (change)="processFile(imageInput)" class="btn btn-outline-success tm-search-btn"  id="upload-photo" type="file" placeholder="Search" aria-label="Search">
        </form>
    </div>
    <div class="col-6">
        <form class="d-flex tm-search-form" #form>
            <input name="dataFilter" [(ngModel)]="dataFilter" class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button (click)="filter()" class="btn btn-outline-success tm-search-btn" type="submit">
                <em class="fas fa-search"></em>
            </button>
            <!-- evitar -->
            <button (click)="clearFilter()" class="btn btn-outline-danger tm-search-btn" style="background-color: red; margin-left: 5px;" type="submit">
                <em class="fas fa-trash"></em>
            </button>
        </form>
    </div>
</div>


<div class="container">
    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary">
                Ultimos Productos
            </h2>
        </div>

        <div *ngIf="!conditional" class="row tm-mb-90 tm-gallery">
            NO TIENE IMAGENES DISPONIBLES
        </div>
        <div *ngIf="conditional" class="row tm-mb-90 tm-gallery" >
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" *ngFor="let photo of photos">
               
            
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>{{photo.nombre}}</mat-card-subtitle>
                    </mat-card-header>
                    <div class="center-photo">
                        <img mat-card-image  src="{{photo.src}}" alt="Photo of a Shiba Inu">
                    </div>                    
                    <mat-card-content>
                      <p>
                        Date: {{photo.date}}
                      </p>
                      <p>
                          Views: {{photo.views}}
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button color="primary" mat-button (click)="sendLike(photo.id)" >{{photo.likes}} LIKE</button>
                      <button color="warn" mat-button (click)="deletePhoto(photo.id)">ELIMINAR</button>
                    </mat-card-actions>
                  </mat-card>
                  
            
            </div>
        </div> <!-- row -->
    </div>
</div>